.creature {
  animation-name: chug;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position:absoulte;
background: #FFCE4B!important;
/* Level Colours/Legendary Tint */

border: 4px solid #FFDD81;
  border-radius: 50%;
  width: 184px;
  height: 184px;
  margin: auto;
  display: flex;
  justify-content: center;
  top: 100px;
}




@keyframes chug {
  0% {
    transform: translateX(-10vw);
  }
  25% {
    transform: translateX(10vw);
  }
  75% {
    transform: translateX(20vw);
  }
  100% {
    transform: translateX(30vw);
  }
}ß


.capture {
  background-image: url("/capturebg.png");
  height:100vh;
}

.startGame {
  @apply bg-white p-2 py-10 m-8 absolute;
  top: 50%;
  border-radius: 5px;
}

.image {
background: #FFCE4B!important;
/* Level Colours/Legendary Tint */

border: 4px solid #FFDD81;
  border-radius: 50%;
  width: 184px;
  height: 184px;
  margin: auto;
  display: flex;
  justify-content: center;
  @apply absolute m-auto;
  margin-top:-180px;
  margin-left:20%;
}
